body{
    background: url('bg.jpg') no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    font-family: sans-serif;
}
.main{
    background-color: #fff;
    width: 20%;
    margin: 80px auto;
    height: 600px;
    border-radius: 10px;
    padding: 40px;
}
.main h1{
    text-align: center;
}
.login-form label{
    color: #000;
    font-size: 17px;
}
.input-type{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #000 ;
    outline: none;
    font-size: 17px;
}
#forget{
    margin: 0 0 0 220px;
    text-decoration: none;
}
#login{
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    background-color: #BA14D0;
    color: #fff;
    font-size: 18px;
    outline: none;
}
#signup{
    text-align: center;
}